.lefEngItems{
    width: 50%;
}
.rightEngItems{
    width: 50%;
}
.rightEngItems h2{
    font-family: 'Lexend', sans-serif;
    font-size: 41px;
}
.rightEngItems p{
    font-family: 'Lexend', sans-serif;
}
.rightEngItems a{
    font-size: 21px;
}
.rightEngItems a img:first-child{
    margin-left: 1rem;
}
.rightEngItems a img{
    height: 18px;
}
.lefEngItems img:nth-child(1){
    width: 30%;
}
.lefEngItems img:nth-child(2){
    width: 70%;
}
.sideimg{
    width: 450px;
    height: 150px;
    background: linear-gradient(#FAF5FF, #faf5ff00);
    border-radius: 0 0 0 80px;
    right: 0;
    bottom: 35px;
    z-index: -1;
}